<ons-page ng-controller="LoginController">
    <ons-toolbar>
        <div class="center">Log In</div>
    </ons-toolbar>

    <div class="login-form">

        <input type="email" class="text-input--underbar" placeholder="Email" value="{{email}}" ng-model="email">
        <input type="password" class="text-input--underbar" placeholder="Password" value="{{pass}}" ng-model="pass">
        <br><br>
        <ons-button modifier="large" class="login-button" ng-click="onClick()">Log In</ons-button>
        <br><br>
        <ons-icon icon="spinner" spin="true"  ng-show="showSpinner" ></ons-icon>
        <ons-button modifier="quiet" class="forgot-password">Forgot password?</ons-button>
    </div>

</ons-page>
